@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap");

@font-face {
  font-family: "Sharp Grotesk";
  src: url("fonts/Sharp_Grotesk/SharpGrotesk-Light25.otf"),
    url("fonts/Sharp_Grotesk/SharpGrotesk-Bold25.otf"),
    url("fonts/Sharp_Grotesk/SharpGrotesk-Medium25.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif !important;
  overflow-x: hidden !important;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.main-wrap {
  background-color: #1b1c4d14;
  height: 520px;
  padding: 32px;
}

.line-img {
  position: absolute;
  left: 50%;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-wrap {
  border: 2px solid lightgray;
}

.table-main-wrap {
  margin-top: 100px;
  font-family: Sharp Grotesk Medium;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

.table-wrap {
  position: relative;
  width: Fixed (1, 280px);
  min-height: 310px;
  top: 10px;
  padding: 25px 72px 25px 72px;
  border-radius: 4px;
  border: 1.5pxl;
  background-color: white;
  margin-top: 40px;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px !important;
}

.single-table-item-wrap {
  flex: 1 0 calc(25% - 10px) !important;
}

.table-wrap > * {
  flex: 1;
}

.single-table-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.single-table-item-wrap h2 {
  font-family: "Arimo", sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

.single-table-item-wrap p {
  font-family: "Arimo", sans-serif !important;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

.cards-items-main-wrap {
  margin-top: 100px;
  background-color: white;
  padding: 32px;
}

.card-head {
  font-family: "Sharp Grotesk", sans-serif !important;
  font-size: 32px !important;
  font-weight: 500 !important;
  line-height: 48px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  font-weight: bolder !important;
}

.cards-item-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-card-item {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.single-card-item-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px !important;
}

.imgBoxes {
  margin-top: -50px !important;
}

.single-card-item-text-wrap-chip {
  top: 775px;
  padding: 4px 10px 4px 10px;
  border-radius: 16px;
  gap: 8px;
  display: flex;
  background-color: #1b1c4d14;
}

.single-card-item-text-wrap-chip-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 550px !important;
}

.single-card-item-text-wrap h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

.single-card-item-text-wrap-chip p {
  font-family: Arimo;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

.single-card-item-price-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}

.single-card-item-price-wrap h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
  font-weight: bolder !important;
}
.single-card-item-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-card-item-price p {
  font-family: Arimo;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1c4d;
}

@media screen and (max-width: 1200px) {
  .line-img {
    display: none;
  }
  .single-table-item-wrap {
    flex: 1 0 calc(50% - 30px) !important;
    gap: 30px !important;
  }
  .main-wrap {
    height: auto !important;
  }
}
@media screen and (max-width: 1100px) {
  .line-img {
    display: none;
  }
  .imgBoxes{
    margin-top: 0px !important;
  }
  .single-table-item-wrap {
    flex: 1 0 calc(50% - 40px) !important;
    gap: 40px !important;
  }
}
@media screen and (max-width: 900px) {
  .single-card-item-text-wrap-chip-wrap {
    width: 100px;
    flex-direction: column;
    align-items: flex-start;
  }
  .single-card-item {
    gap: 30px !important;
  }
}
@media screen and (max-width: 600px) {
  .table-wrap {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .single-table-item-wrap {
    flex: 1 0 calc(100% - 50px) !important;
    gap: 50px !important;
  }
}
